@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div align="center">
        <a href="#" target="_blank">
            <img class="center fixedwidth" border="0" src="https://d1iiooxwdowqwr.cloudfront.net/pub/appsubmissions/20140925061815_logo.png" alt="Image" title="DooyD API">
        </a>
    </div>
</div>
